<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title  -->
    <title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{{site.url}}/assets/css/core-style.css">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
    {% if page.url == '/' and '/404.html' %}
    <link rel="stylesheet" href="{{site.url}}/assets/css/coming-soon.css">
    {% endif %}

    <!-- favicons -->
    <link rel="shortcut icon" href="{{site.url}}/assets/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{site.url}}/assets/img/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/assets/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/assets/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/assets/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/assets/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/assets/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/assets/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/assets/img/favicons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/img/favicons/apple-touch-icon-180x180.png" />
</head>
