<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{{site.url}}/assets/js/jquery/jquery-2.2.4.min.js"></script>
{% if page.url == '/404.html' %}
<!-- Type js -->
<script src="{{site.url}}/assets/js/type.js"></script>
{% endif %}
{% if page.url == '/' %}
<!-- Compteur js -->
<script src="{{site.url}}/assets/js/compteur.js"></script>
{% endif %}
<!-- Popper js -->
<script src="{{site.url}}/assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="{{site.url}}/assets/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="{{site.url}}/assets/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="{{site.url}}/assets/js/active.js"></script>
{% if page.url == '/404.html' %}
<!-- other -->
<script>
  page404();
</script>
{% endif %}
