<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{{site.url}}/assets/js/jquery/jquery-2.2.4.min.js"></script>
{% if page.url == '/' %}
<!-- Show Products -->
<script src="{{site.url}}/assets/js/best-products.js"></script>
{% endif %}
{% if page.url == '/404.html' %}
<!-- Type js -->
<script src="{{site.url}}/assets/js/type.js"></script>
{% endif %}
{% if page.url == '/coming-soon/' or page.layout == "coming-soon" %}
<!-- Compteur js -->
<script src="{{site.url}}/assets/js/compteur.js"></script>
{% endif %}
<!-- Popper js -->
<script src="{{site.url}}/assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="{{site.url}}/assets/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="{{site.url}}/assets/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="{{site.url}}/assets/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="{{site.url}}/assets/js/active.js"></script>
{% if page.url == '/' %}
<!-- Wow js -->
<script src="{{site.url}}/assets/js/wow.min.js"></script>
<script>
new WOW().init();
</script>
{% endif %}
<!-- Cart Js -->
<script src="{{site.url}}/assets/js/cart.js"></script>
{% if page.url == '/checkout/' %}
<!-- PayPal -->
<script src="https://www.paypal.com/sdk/js?components=hosted-fields,buttons&currency=EUR&client-id=ATVwkl6bf2seBBOjJmbGC3_UHE_lulMFoZ11kqAz740wdHUOa4Sc8ctxafUmDzQEcJPi_y5SylLaIvWU"></script>
<!-- Md5 js -->
<script src="{{site.url}}/assets/js/md5.js"></script>
<!-- CodePromo js -->
<script src="{{site.url}}/assets/js/code-promo.js"></script>
<!-- Checkout Js -->
<script src="{{site.url}}/assets/js/checkout.js"></script>
<!-- PayPal -->
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          description: 'Product 1',
          amount: {
            currency_code: 'EUR',
            value: '34.3',
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        document.location = 'https://google.com';
      });
    }
  }).render('#paypal-button-container'); // Display payment options on your web page
</script>
{% endif %}
{% if page.url == '/404.html' %}
<!-- other -->
<script>
  page404();
</script>
{% endif %}
